body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}


h1 {
    font-size: 70px;

}

p {
    font-size: 18px;
    text-align: justify;
}

section {
    display: flex;
}

.orange {
    color: orange;
}

.color {
    text-decoration: none;

}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, salmon);
    padding: 15px 30px;
    border-radius: 30px;
}

.top-banner {
    margin-top: 12%;
    margin-left: 170px;
}

.second-bg {
    margin-top: 10%;
    margin-bottom: 10%;

    margin-left: 15%;
}

.detais-corner {
    width: 15%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
    padding-top: 40px;
    margin: 0% 2%;


    box-shadow: 10px 10px 40px gray;

}


.decor {
    background-image: url(images/left-image.png);
    background-repeat: no-repeat;
}